modules = ["php-8.2", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run PHP"

[[workflows.workflow]]
name = "Run PHP"
author = 41203174
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000"

[[ports]]
localPort = 5000
externalPort = 80
