* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('rawa.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wadah {
    max-width: 500px;
    background-color: white;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.wadah h2, .wadah h3 {
    text-align: center;
}

.wadah input[type="text"],
.wadah input[type="datetime-local"],
.wadah textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.wadah button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.wadah button:hover {
    background-color: #0056b3;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}


h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
}

input, textarea, button {
    font-size: 1rem;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    width: 100%;
}

input[type="text"], input[type="datetime-local"], textarea {
    background-color: #fafafa;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#subtugas-container {
    display: flex;
    flex-direction: column;
}

.subtugas-item {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .wadah {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    h2 {
        font-size: 1.8rem;
    }

    input, textarea, button {
        font-size: 0.9rem;
    }

    button {
        padding: 10px;
    }
}
